/* Variables */
:root {
    --black-color: #1f1f1f;
    --beige-color: #f0be8b;
    --gray-color: #bfbfbf;
    --font-color: #a47c58;
    --button-color: #3d3d3d;
}
/* base */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--black-color) !important;
}
.main-btn {
    background-color: var(--button-color) !important;
    border-radius: 0 !important;
    padding: 1rem 0.8rem !important;
}
.dis-btn {
    background-color: var(--gray-color) !important;
    border-radius: 0 !important;
    padding: 0.6rem 1rem !important;
}
/* Start navbar */
.navbar .navbar-brand{
    font-size: 1.25rem;
    color: white !important;
}
.navbar .icon {
    color: white;
    font-size: 1.1rem;
}
.navbar .icon:hover {
    color: var(--black-color);
}
.nav-item .nav-link {
    color: white;
    font-size:1.1rem;
    font-weight: bolder;
}
.nav-item .nav-link.active,
.nav-item .nav-link:focus,
.nav-item .nav-link:hover {
    color: #f1be87 !important;
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--black-color);
}
/* End navbar */

/* Start landing */
.landing {
    min-height: 100vh;
}
.landing img{
    background-color: var(--beige-color) !important;
}
.landing .price {
    color: var(--beige-color);
}
/* End landing */