/* Variables */
:root {
    --black-color: #1f1f1f;
    --beige-color: #f0be8b;
    --gray-color: #bfbfbf;
    --font-color: #a47c58;
    --button-color: #3d3d3d;
}
/* base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--black-color) !important;
}

/* Start navbar */
.navbar .navbar-brand{
    font-size: 1.25rem;
    color: white;
}
.navbar .icon {
    color: white;
}
.navbar .icon:hover {
    color: var(--black-color);
}
.nav-item .nav-link {
    color: white;
    font-size:1.1rem;
    font-weight: bolder;
}
.nav-item .nav-link.active,
.nav-item .nav-link:focus,
.nav-item .nav-link:hover {
    color: #f1be87 !important;
}
.navbar .navbar-toggler {

}
/* End navbat */