/* Variables */
:root {
    --black-color: #1f1f1f;
    --beige-color: #f0be8b;
    --gray-color: #bfbfbf;
    --font-color: #a47c58;
    --button-color: #3d3d3d;
    --card-color: #292929;
}
/* base */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--black-color) !important;
}
.main-btn {
    background-color: var(--button-color) !important;
    border-radius: 0 !important;
    padding: 1rem 0.8rem !important;
}
.dis-btn {
    background-color: var(--gray-color) !important;
    border-radius: 0 !important;
    padding: 0.6rem 1rem !important;
}
/* Start navbar */
.navbar {
    background-color: #1f1f1f94;
}
.navbar .navbar-brand{
    font-size: 1.25rem;
    color: white !important;
}
.navbar .icon {
    color: white;
    font-size: 1.1rem;
}
.navbar .icon:hover {
    color: var(--black-color);
}
.nav-item .nav-link {
    color: white;
    font-size:1.1rem;
    font-weight: bolder;
}
.nav-item .nav-link.active,
.nav-item .nav-link:focus,
.nav-item .nav-link:hover {
    color: #f1be87 !important;
}
.navbar .navbar-toggler {
    color: white;
    border-color: white;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--beige-color);
}
/* End navbar */

/* Start landing */
.landing {
    min-height: calc(100vh - 100px);
}
.landing img{
    background-color: var(--beige-color) !important;
}
.price {
    color: var(--beige-color);
}
/* End landing */

/* Start featured */
.featured::before{
    content: "";
    background-color: var(--beige-color);
    position: absolute;
    width: 120px;
    height: 1px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-49%);
}
/* cards */
article.card {
    background-color: var(--card-color);
    border: 1px solid var(--beige-color);
}
.card:hover {
    box-shadow: 0px 0px 20px rgba(238, 210, 157, 0.89);
    padding: 1rem 0 2rem 0;
    transition: 0.5s;

}
.img-card {
    width: 150px;
}
.img-card1 {
    width: 154.5px;
}
.img-card2 {
    width: 144.9px;
}
/* end cards */
.card .main-btn {
    opacity: 0;
    transition: 0.3s;
    transform: translateY(1rem);
}
.card:hover .main-btn{
    opacity: 1;
    transform: translateY(0rem);
} 
.featured .sale {
    background-color: var(--beige-color);
    transform: rotate(-90deg);
    margin-left: -8px;
    margin-top: 50px;
}
.featured .text::before {
    content: "";
    background-color: var(--beige-color);
    width: 120px;
    height: 1px;
    position: absolute;
}
.featured .img-thumbnail {
    background-color: var(--beige-color);
}
/* End featured */

/* Start products */
.products::before {
    content: "";
    border: 1px solid var(--beige-color);
    width: 120px;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.img-products {
    background-color: var(--card-color);
}
.img-director {
    height: 90px;
    width: 90px;
    border-radius: 100%;
}
.products .icon {
    color: var(--beige-color);
}
.products .img-thumbnail {
    background-color: var(--beige-color);
}
.products .row .swipe {
    margin-right: 100px !important;
} 
/* End products */

/* Start swipe cards */
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End swipe cards */

/* Start Arrivals */
.arrivals::before {
    content: "";
    border: 1px solid var(--beige-color);
    width: 120px;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.arrivals .arrivals-card:hover {
    background-color: var(--beige-color);
    box-shadow: none;
}
.arrivals .card .price {
    color: rgb(0, 0, 0);
}
.arrivals .new {
    background-color: var(--beige-color);
    margin-right: 66%;
    margin-bottom: 20px;
    position: absolute;
    border-radius: 3px;
}
/* End Arrivals */

/* Start Subscribe */
.subscribe {
    background-color: var(--beige-color);
}
input:focus {
    outline: none;
}
input::placeholder {
    color: var(--button-color);
}
.subscribe input {
    background-color: var(--beige-color);
    border-bottom: 1px solid white !important;
}
.subscribe-btn {
    background-color: var(--black-color) !important;
    border-radius: 0 !important;
}
/* End Subscribe */

/* Start Footer */
.footer::after {
    content: "";
    border: 0.1px solid rgba(128, 128, 128, 0.295);
    width: 70%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
/* End Footer */